# Importing All The Required Libraries

In [174]:
from nltk import word_tokenize,sent_tokenize,ngrams
from nltk.corpus import stopwords,wordnet
from sklearn.feature_extraction.text import TfidfVectorizer,CountVectorizer
from nltk import pos_tag
from nltk.stem import PorterStemmer
from nltk import WordNetLemmatizer
import nltk

# Word Tokenization

In [175]:
x="I Am Proficient In Python and I am Looking For A good Data Science job"

In [176]:
print(word_tokenize(str(x)))

['I', 'Am', 'Proficient', 'In', 'Python', 'and', 'I', 'am', 'Looking', 'For', 'A', 'good', 'Data', 'Science', 'job']

# Sentence Tokenization

In [177]:
x="I like playing football as well as badminton and I like eating sweets rather than taking hot"

In [178]:
sent_tokenize(str(x))

['I like playing football as well as badminton and I like eating sweets rather than taking hot']

# Ngram Tokenization

In [179]:
x="We had a good party last night with my family"

In [180]:
k=ngrams(x,2)

In [181]:
for i in k :
    print(i)

('W', 'e')
('e', ' ')
(' ', 'h')
('h', 'a')
('a', 'd')
('d', ' ')
(' ', 'a')
('a', ' ')
(' ', 'g')
('g', 'o')
('o', 'o')
('o', 'd')
('d', ' ')
(' ', 'p')
('p', 'a')
('a', 'r')
('r', 't')
('t', 'y')
('y', ' ')
(' ', 'l')
('l', 'a')
('a', 's')
('s', 't')
('t', ' ')
(' ', 'n')
('n', 'i')
('i', 'g')
('g', 'h')
('h', 't')
('t', ' ')
(' ', 'w')
('w', 'i')
('i', 't')
('t', 'h')
('h', ' ')
(' ', 'm')
('m', 'y')
('y', ' ')
(' ', 'f')
('f', 'a')
('a', 'm')
('m', 'i')
('i', 'l')
('l', 'y')

# Pos Tagging

In [182]:
x="Success is all about how well your hard work pays off"

In [183]:
pos_tag(x)

[('S', 'NNP'),
 ('u', 'JJ'),
 ('c', 'NNS'),
 ('c', 'VBP'),
 ('e', 'JJ'),
 ('s', 'JJ'),
 ('s', 'NN'),
 (' ', 'NN'),
 ('i', 'NN'),
 ('s', 'VBP'),
 (' ', 'PDT'),
 ('a', 'DT'),
 ('l', 'NN'),
 ('l', 'NN'),
 (' ', 'VBZ'),
 ('a', 'DT'),
 ('b', 'NN'),
 ('o', 'NN'),
 ('u', 'JJ'),
 ('t', 'NN'),
 (' ', 'NNP'),
 ('h', 'NN'),
 ('o', 'NN'),
 ('w', 'NN'),
 (' ', 'NNP'),
 ('w', 'NN'),
 ('e', 'NN'),
 ('l', 'NN'),
 ('l', 'NN'),
 (' ', 'NNP'),
 ('y', 'NNP'),
 ('o', 'MD'),
 ('u', 'VB'),
 ('r', 'NN'),
 (' ', 'NNP'),
 ('h', 'VBZ'),
 ('a', 'DT'),
 ('r', 'NN'),
 ('d', 'NN'),
 (' ', 'NNP'),
 ('w', 'NN'),
 ('o', 'NN'),
 ('r', 'NN'),
 ('k', 'NN'),
 (' ', 'NNP'),
 ('p', 'VBZ'),
 ('a', 'DT'),
 ('y', 'NN'),
 ('s', 'NN'),
 (' ', 'NNP'),
 ('o', 'VBZ'),
 ('f', 'JJ'),
 ('f', 'NN')]

# Stemming and Lematization

In [184]:
x="Behaving"

In [185]:
p=PorterStemmer()

In [186]:
print(p.stem(x))

behav

In [187]:
l=WordNetLemmatizer()

In [188]:
print(l.lemmatize(x))

Behaving

# Word Net (Nlp Dictionary)

In [189]:
w=wordnet.synsets("example") [0]

In [190]:
w.definition()

'an item of information that is typical of a class or group'

# Language Traslation

In [192]:
from textblob import TextBlob

In [195]:
x="Many of my Friends Are From Hyderabad"

In [196]:
y=TextBlob(x)

In [198]:
y.detect_language()

'en'

In [199]:
y.translate(to="hi")

TextBlob("मेरे कई दोस्त हैदराबाद से हैं")

In [200]:
y.translate(to="te")

TextBlob("నా స్నేహితులు చాలా మంది హైదరాబాదుకు చెందినవారు")

# Sentimient Score

In [215]:
x="Data Science is an scientfic art and extracting the raw data inorder to make insights"

In [216]:
n=TextBlob(x)

In [217]:
n.sentiment

Sentiment(polarity=-0.23076923076923078, subjectivity=0.46153846153846156)

# TF-IDF

In [224]:
x=["Python is an scripting Language",
  "Machine Learning Algorithms Can Be Implemented through Python"
  ]

In [225]:
t=TfidfVectorizer()

In [226]:
t1=t.fit_transform(x)

In [229]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

# Document Term Matrix

In [231]:
d=pd.DataFrame(t1.toarray(),columns=t.get_feature_names())

In [232]:
d

,algorithms,an,be,can,implemented,is,language,learning,machine,python,scripting,through
0,0.000000,0.471078,0.000000,0.000000,0.000000,0.471078,0.471078,0.000000,0.000000,0.335176,0.471078,0.000000
1,0.364996,0.000000,0.364996,0.364996,0.364996,0.000000,0.000000,0.364996,0.364996,0.259698,0.000000,0.364996

# Term Document Matrix

In [235]:
d1=pd.DataFrame(t1.toarray().transpose(),index=t.get_feature_names())

In [236]:
d1

                    0         1
algorithms   0.000000  0.364996
an           0.471078  0.000000
be           0.000000  0.364996
can          0.000000  0.364996
implemented  0.000000  0.364996
is           0.471078  0.000000
language     0.471078  0.000000
learning     0.000000  0.364996
machine      0.000000  0.364996
python       0.335176  0.259698
scripting    0.471078  0.000000
through      0.000000  0.364996